@tailwind base;
@tailwind components;


@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Light.woff2') format('woff2'),
      url('../fonts/Poppins-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
      url('../fonts/Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
      url('../fonts/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
      url('../fonts/Poppins-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.woff2') format('woff2'),
      url('../fonts/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Black.woff2') format('woff2'),
      url('../fonts/Poppins-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-ExtraBold.woff2') format('woff2'),
      url('../fonts/Poppins-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
      url('../fonts/SFProDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  @apply font-sfpro;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-poppins;
}

.btn {
  @apply px-6 lg:px-8 py-2 lg:py-3 text-sm lg:text-base inline-block rounded-xl text-blue-900 border border-blue-200 hover:bg-blue-900 hover:text-white;
}

.btn.primary {
  @apply bg-purple-800 text-white border border-purple-800;
}

.mega-dropdown {
  @apply w-screen z-50 bg-white;
  margin-left:50%;
  left:-50vw;
}

/* Dropdown */

.dropdown-menu:hover > div {display: block !important ;}


/* Mobile Menu */
.main-nav.open {
  @apply absolute top-full left-0 right-0;
  display:block !important;
}

.hero-banner:after {
  content:'';
  @apply bg-purple-900 opacity-70 absolute inset-0;
}

/* Check list */
.check-list li {
  @apply pl-11 bg-no-repeat;
  background-image:url(../images/icon-check.svg);
  background-size: 22px;
  background-position: 0 10px;
}

/* Owl carousel */
.testimonial-slider .owl-nav {
  position:absolute; 
  right:0; top:-80px;
}

@tailwind utilities;